.Header{
    width: 100%;
    height: 310px;
    background-color: rgba(176, 183, 245, 0.601);
  }
  .Header img{
    height: 310px;
    float: right;
  }
  #logo-btn{
    background: transparent;
    border: none;
    outline-style: none;
    cursor: pointer;
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 900;
    color: blueviolet;
  }
  #logo-btn span{
    font-weight: 900;
    font-family: fantasy;
    font-size: 30px;
    color: indigo;
  }
  .Header h2{
    color: #303364;
    margin-left: 50px;
  }
  .nav{
    width: 40%;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .nav ul{
    list-style: none;
    width: 100%;
    display: flex;
  }
  .nav span{
    color: #303364;
    width: 15%;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
  }
  .nav ul li{
    color: white;
    background-color: blueviolet;
    width: 20%;
    line-height: 40px;
    text-align: center;
  }
  .nav ul li:hover{
    background-color:#303364;
  }
  .search-bar{
    height: fit-content;
    width: fit-content;
    margin-left: 50px;
  }
  .search-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  .search-wrapper select{
    width: 300px;
    padding-left: 30px;
  }
  .search-wrapper img{
    position: absolute;
    height: 20px;
    top: 226px;
  }
  #location-img{
    left: 8px;
    top: 28px;
  }
  #location{
    border-radius: 5px 0px 0px 5px;
    width: 500px;
  }
  .search-wrapper button{
    margin-top: 23px;
    margin-left: -83px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-post-btn{
    display: flex;
    width: 24%;
    justify-content: space-between;
    margin-left: 72%;
    padding-top: 10px;
  }
  .login-post-btn div{
      height: fit-content;
  }
  
  .login-post-btn div button{
    color: white;
    background-color: rgb(235, 57, 95);
    padding: 7px 15px 7px 15px;
    font-weight: 700;
    outline-style: none;
    border: 1px solid white;
    cursor: pointer;
  }
  .login-post-btn div button span{
    color: yellow;
    font-weight: lighter;
  }
  #logout-img{
    height: 30px;
  }
  #user-img{
    height: 40px;
  }
  .post-property{
     margin-top: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .Header{
      width: 100%;
      height: 160px;
      background-color: rgba(176, 183, 245, 0.601);
    }
    .Header img{
      height: 160px;
    }
    #logo-btn{
      background: transparent;
      border: none;
      outline-style: none;
      cursor: pointer;
      font-size: 10px;
      font-weight: 900;
      color: blueviolet;
      position: absolute;
      top: 20px;
      left: -25px;
    }
    #logo-btn span{
      font-weight: 900;
      font-family: fantasy;
      font-size: 15px;
      color: indigo;
    }
    .Header h2{
      position: absolute;
      color: #303364;
      font-size: 12px;
      top: 60px;
      left: -25px;
    }
    .nav{
      display: none;
    }
    .search-bar{
      position: absolute;
      height: fit-content;
      width: fit-content;
      top: 90px;
      left: -25px;
    }
    .search-wrapper{
      width: fit-content;
      height: fit-content;
      display: flex;
      position: relative;
    }
    .search-wrapper select{
      width: 200px;
      height: 25px;
      font-size: 12px;
      padding-left: 20px;
    }
    .search-wrapper img{
      position: absolute;
      height: 10px;
      top: 210px;
    }
    #location-img{
      left: 8px;
      top: 17px;
    }
    #location{
      border-radius: 5px 0px 0px 5px;
      width: 500px;
    }
    .search-wrapper button{
      margin-top: 15px;
      margin-left: -63px;
      height: 15px;
      width: 60px;
      font-size: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .login-post-btn{
      position: absolute;
      left: -130px;
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
    .login-post-btn div{
        height: fit-content;
    }
    #post-btn-div{
      width: 350%;
    }
    .login-post-btn div button{
      color: white;
      height: 30px;
      width: 100px;
      font-size: 10px;
      background-color: rgb(235, 57, 95);
      padding: 2px 5px 2px 5px;
      font-weight: 500;
      outline-style: none;
      border: 1px solid white;
      cursor: pointer;
    }
    .login-post-btn div button span{
      color: yellow;
      font-weight: lighter;
    }
    .login-post-btn div img{
      height: 20px;
      cursor: pointer;
    }
    .menu-div{
      position:absolute;
      top: 40px;
      left: 61%;
      height: fit-content;
      width: 100px;
      background-color: black;
      display: none;
    }
    .menu-div span{
      float: right;
      color: white;
      margin-right: 10px;
      cursor: pointer;
    }
    .menu-div ul{
        list-style: none;
        width: 100%;
    }
    .menu-div ul li{
      color: white;
      width: 100%;
      height: 30px;
      line-height: 20px;
      text-align: center;
      margin-top: 10px;
      border-bottom: 1px solid royalblue;
    }
    #close{
      height: 30px;
      line-height: 12px;
    }
    .menu-div ul li:hover{
      cursor: pointer;
      color: royalblue;
    }
    .post-property{
       margin-top: 10px;
    }
    
  }