.login-container{
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
  }
  .login-wrapper{
      width: 30%;
      height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 4px 6px 0px grey;
      background-color: #f8ceec;
     background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  
  }
  .login-wrapper h1{
    margin-top: 20px;
    font-weight: 600;
    margin-left: 25px;
  }
  .login-wrapper form input{
    width: 85%;
  }
  .login-wrapper form button{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .login-wrapper span{
    margin-left: 40%;
  }
  .login-wrapper p{
    /* margin-top: 100px; */
    font-weight: 400;
    /* margin-left: 27%; */
  }
  .login-wrapper p span{
    color: rgb(235, 57, 95);
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
  }
  #forgot{
    float: right;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .login-container{
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: azure;
    }
    .login-wrapper{
        width: 80%;
        height: 480px;
        box-shadow: 0px 4px 6px 0px grey;
        background-color: #f8ceec;
       background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    
    }
    .login-wrapper h1{
      margin-top: 20px;
      font-weight: 600;
      font-size: 25px;
      margin-left: 25px;
    }
    .login-wrapper form input{
      width: 85%;
    }
    .login-wrapper form button{
      width: 90%;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .login-wrapper span{
      margin-left: 40%;
    }
    .login-wrapper p{
      margin-top: 100px;
      font-weight: 400;
      margin-left: 27%;
    }
    .login-wrapper p span{
      color: rgb(235, 57, 95);
      margin-left: 10px;
      cursor: pointer;
      font-weight: 700;
    }
    #forgot{
      float: right;
      margin-right: 20px;
      cursor: pointer;
    }
  }